<HTML>
<HEAD>
  <meta charset="UTF-8">
<TITLE>
Megachat
</TITLE>
</HEAD>
<BODY>
<div id ="app">
  <!-- Main window-->
  <div v-if="registered">
    <!-- Messages -->
    <b>Messages</b>
    <ul>
      <li v-for="msg in messages">
        {{ msg.user+": "+msg.text }}
      </li>
    </ul>
  <hr/>
  </div>
  <div v-if="registered">
    <!-- Users -->
    <b>Users:</b>
    <span v-for="user in users">
      {{ user }}
    </span>
  <hr/>
  </div>
  <div v-if="registered">
    <!-- Input -->
    <input v-model="text" placeholder="отредактируй меня"/>
    <button v-on:click="send">Отправить</button>
  </div>
  <div v-if="!registered">
    <!-- Register -->
    <input v-model="room" placeholder="отредактируй меня"/>
    <input v-model="user" placeholder="отредактируй меня"/>
    <button v-on:click="register">Войти</button>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script type="text/javascript">

var app = new Vue({
  el: '#app',
  data: {
    registered: false,
    text: "Hello World!",
    room: "Talking about",
    user: "John",
    messages: [],
    users: []
  },
  methods: {
    send: function (event) {
      // `this` внутри методов указывает на экземпляр Vue
      console.log('Send: ' + this.text);
      req = {};
      req.type = "message";
      req.text = this.text;
      socket.send(JSON.stringify(req));
    },
    register: function (event) {
      // `this` внутри методов указывает на экземпляр Vue
      console.log('Register: ' + this.user + ' in ' + this.room);
      req = {};
      req.type = "register";
      req.room = this.room;
      req.user = this.user;
      socket.send(JSON.stringify(req));
    }
  }
})


let socket = new WebSocket("ws://"+ location.host + "/ws");

socket.onopen = function(e) {
  console.log("[open] Connection established");
  // req = {};
  // req.type = "register";
  // req.room = "Talking about";
  // req.user = "John";
  // socket.send(JSON.stringify(req));

  // req = {};
  // req.type = "message";
  // req.text = "Hello World!";
  // socket.send(JSON.stringify(req));
};

socket.onmessage = function(event) {
  console.log(`[message] Data received from server: ${event.data}`);
  msg = JSON.parse(event.data);
  switch(msg.type){
    case "register":
      switch(msg.status){
        case "ok":
          app.messages = msg.messages;
          app.users = msg.users;
          app.registered = true;
        default: //TODO parse errors
      }
      break;
    case "message":
      app.messages.push(msg.message); //TODO del old messages
      break;
    default: //TODO add and del user
  };
};

socket.onclose = function(event) {
  if (event.wasClean) {
    console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
  } else {
    // e.g. server process killed or network down
    // event.code is usually 1006 in this case
    console.log('[close] Connection died');
  }
  app.registered = false;
};

socket.onerror = function(error) {
  console.log(`[error] ${error.message}`);
};

</script>
</BODY>
</HTML>
